/* 
Light theme :
  main color = #fbfbfb
  secondary color = black
  third color = #595959

Dark theme :
  main color = #363636
  secondary color = #fbfbfb
*/

:root{

  --main-color: #fbfbfb;
  --secondary-color: black;
  --third-color: #595959;

}

.bouton-thème{

  display: block;
  position: absolute;
  top: 25px;
  right: 25px;

}

body {

  background-color: var(--main-color);
  transition: 200ms;

}

.div-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    padding-top: 10px;
    background-image: url("Images/Arrière-plan.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    display: block;
    z-index: 100000000;

    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;

  }

  .image-nav{

    background-color: #fbfbfb;
    border-radius: 30%;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-30px, 0px);

  }
  
  .div-texte-nav{

    width: 150px;
    position: absolute;
    bottom: 115px;
    left: 50%;
    transform: translate(-75px, 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .texte-nav{

    display: block;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fbfbfb;

  }

  .div-nav-téléphone{

    display: none;
    background-color: none;

  }

  .div-bouton-nav-téléphone {

    display: none;

  }

  .conteneur {
    width: 100% - 200px;
    margin-left: 200px;
    align-items: center;
    background-color: var(--main-color);
    display: block;
    transition: 200ms;

  }

  .logo-header {

    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
    width: 425px;

  }

  #logo-header-podcast {

    transform: translate(-7px, 0px);

  }

  .div-menu {
    width: 200px;
    height: 45px;
    text-align: center; 
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: -20px;
    line-height: 45px;
    text-align: center;

  }

  .div-menu:hover {
    background-color: #0000003d;

  }

  .fleche-menu {

    position: absolute;
    transform: translate(23px, -19px);
    color: #fbfbfb;

  }

  a {
    text-decoration: none;
    color:  #fbfbfb;

  }

  #Description-prochaine-émission a {

    color: var(--secondary-color);
    text-decoration: underline;
    overflow-wrap: break-word;
    word-wrap: break-word;

  }

  .div-émission-background {

    background-color: var(--secondary-color);
    height: 163px;
    width: 503px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    padding-bottom: 3px;
    margin-top: 20px;
    margin-bottom: 30px ;

  }

  .div-émission-background:hover {

    background-image: url("Images/Arrière-plan.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 163px;
    width: 503px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    padding-bottom: 3px;
    margin-top: 20px;
    margin-bottom: 30px ;

  }

  .div-émission {

    background-color: var(--main-color);
    width: 500px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 1.5px;
    display: block;

  }

  .div-audio {

    display: flex;

  }

  .audio {

    margin: 0 auto;

  }

  .infos-émission {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--secondary-color);
    margin-left: 10px;
    width: auto;
    margin-bottom: 30px;

  }

  .date-émission {

    margin-top: -18px;
    color: var(--third-color);

  }

  .programme {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--secondary-color);
    margin-left: 10px;
  
   }
  
   .programme:hover {
  
    cursor: pointer;
  
   }
  
   .div-programme-background {
  
      background-image: url("Images/Arrière-plan.svg");
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      height: auto;
      width: 503px;
      margin: 0 auto;
      border-radius: 10px;
      display: flex;
      padding: 2px;
      padding-bottom: 4px;
      margin-top: 20px;
      margin-bottom: 30px ;
  
    }
  
    .div-programme-ensemble {
      background-color:  var(--main-color);
      height: auto;
      width: 500px;
      border-radius: 8px;
      margin: 0 auto;
      margin-top: 1.5px;
      display: flex;
    
    }
  
    .fermer {
  
      display: flex;
      margin-top: 10px;
      margin-left: 140px;
      height: 50px;
      width: auto;
      
    }
  
    .fermer:hover {
  
      cursor: pointer;
  
    }
  
    .infos {
  
      display: flex;
      margin-top: -85px;
      margin-left: 440px;
      height: 50px;
      width: auto;
      
    }
  
    .infos:hover {
  
      cursor: pointer;
  
    }










 #Curseur {

    top: 250px;
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0px);
    height: 80px;
    width: 40px;
    background-image: url('Images/Curseur.svg');
    background-attachment: fixed;
    background-size: contain;

 }

 #Curseur:hover {

    cursor: grab;

 }

 #Slider {

    position: absolute;
    top: 275px;
    left: 50%;
    z-index: 1;
    height: 250px;
    transform: translate(-50%, 0px);
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    pointer-events: none;
  

 }

 #Niveau-sonore {

    display: flex;
    margin-top: 100px;

 }

 #Volume-icone {

  position: absolute;
  top: 540px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0px);

 }










 .div-accueil-background {
  
  background-image: url("Images/Arrière-plan.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  width: 703px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  padding: 2px;
  padding-bottom: 4px;
  margin-top: 20px;
  margin-bottom: 30px ;

}

.div-accueil {
  background-color: var(--main-color);
  height: auto;
  width: 700px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 1.5px;
  display: block;

}

.titre-accueil {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--secondary-color);
  margin-left: 10px;
  width: auto;

}

.contenu-accueil {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--secondary-color);
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  margin-bottom: 30px;
  margin-top: -10px;
  text-align: justify;

}

.texte-bouton-accueil{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fbfbfb;
  margin: 0 auto;
  display: flex;
  
}

.bouton-accueil{

  background-color: var(--third-color);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 5px;

}

.bouton-accueil:hover{

  cursor: pointer;

}

#Image-prochaine-émission{

  height: 220px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 7%;

}

.underlined {

  color: var(--secondary-color);
  text-decoration: underline;

}

.underlined:hover {

  cursor: text;

}

.div-images-accueil-ensemble {

  display: flex;
  margin: 0 auto;
  align-items: center;

}

.div-images-accueil {

  margin: 0 auto;

}

.images-accueil {

  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: 10px;

}






.div-bouton-podcast-background {

  background-color: var(--secondary-color);
  height: fit-content + 4px;
  width: 363px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2.5px;
  padding-bottom: 3px;
  padding-top: 2px;
  margin-top: 20px;
  margin-bottom: 30px ;
  display: block;

}

.div-bouton-podcast-background:hover {

  background-image: url("Images/Arrière-plan.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: fit-content + 4px;
  width: 363px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2.5px;
  padding-bottom: 3px;
  padding-top: 2px;
  margin-top: 20px;
  margin-bottom: 30px ;
  cursor: pointer;

}

.div-bouton-podcast {

  background-color: var(--main-color);
  height: fit-content;
  width: 357px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 1.5px;
  display: flex;
  padding: 2px;

  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;

}

.texte-bouton-podcast {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--secondary-color);
  margin: 5px auto;
  margin-top: 10px;
  display: block;

  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  
}

.div-ligne {

  display: flex;
  padding-left: 60px;
  padding-right: 60px;

}

.div-contenu-bouton-podcast {

  display: flex;
  margin-left: 10px;
  justify-content: center;

  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;

}

.image-bouton-podcast {

  margin-right: 10px;

  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;

}

.div-audio-podcasts {

  display: flex;
  margin-top: -15px;

}

#Div-bouton-podcast-background-téléphone {

  display: none;

}
























@media (max-width: 480px) {

  .bouton-thème{
    display: none;
  }


  body {

    align-items: center;
    justify-content: center;
    zoom: 1;
  }

  .conteneur {

    display: block;
    margin-left: 5px;
    width: 100%;
    align-items: center;
    padding-left: -10px;
    margin-left: 0px;


  }

  .div-nav {

    display: none;

  }

  .div-nav-téléphone{

    display: none;
    background-image: url("Images/Arrière-plan.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

  }

  .div-menu-téléphone{

    display: flex;
    width: 200px;
    height: 45px;
    text-align: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 45px;
    justify-content: center;

  }

  .contenu-menu-téléphone {

    display: flex;
    margin: 0 auto;
    margin-top: 10px;

  }

  .div-bouton-nav-téléphone {

    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 55px;
    width: 55px;
    background-color: rgb(223, 222, 222);
    border-bottom-right-radius: 10px;

  }

  #Image-bouton-nav-téléphone {

    margin: 0 auto;
    display: flex;
    margin-top: 2px;
    
  
  }

  .logo-header {

    width: 230px;

  }

  .div-émission-background {

    background-color: black;
    height: auto;
    width: 343px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    padding-bottom: 3px;
    margin-top: 20px;
    margin-bottom: 30px ;

  }

  .div-émission-background:hover {

    background-image: url("Images/Arrière-plan.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 343px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    padding-bottom: 3px;
    margin-top: 20px;
    margin-bottom: 30px ;

  }

  .div-émission {

    background-color: var(--main-color);
    height: auto;
    padding-bottom: 15px;
    width: 340px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 1.5px;
    display: block;
    padding-top: -10px;

  }

  .infos {

    margin-left: 285px;

  }

  .div-programme-background {
  
    transition: 2000ms;
    height: auto;
    width: 343px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    padding-bottom: 4px;
    margin-top: 20px;
    margin-bottom: 30px ;

  }

  .div-programme-ensemble {

    width: 340px;

  }

  .fermer {

    display: flex;
    margin-top: 10px;
    margin-left: 25px;
    height: 50px;
    width: auto;
    
  }





  .div-accueil-background {
  
    background-image: url("Images/Arrière-plan.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 343px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    padding-bottom: 4px;
    margin-top: 20px;
    margin-bottom: 30px ;
  
  }
  
  .div-accueil {
    background-color: var(--main-color);
    height: auto;
    width: 340px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 1.5px;
    display: block;
  
  }


  .contenu-accueil{
    text-align: justify;
  }

.div-images-accueil-ensemble {

  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

}

.div-images-accueil {

  display: block;
  margin: 0 auto;

}

.images-accueil {

  margin: 0 auto;
  margin-top: 10px;
  display: flex;

}

.div-ligne {

  display: none;

}

.div-bouton-podcast-background {


  margin: 0 auto;
  display: flex;
  display: block;

}

.div-bouton-podcast-background:hover {


  margin: 0 auto;
  display: flex;
  display: block;

}

#Div-bouton-podcast-background-téléphone {

  display: block;
  margin: 0 auto;

}

}
