body {

  background-color: #fbfbfb;

}

.div-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    padding-top: 10px;
    background-image: url("Images/Arrière-plan.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    display: block;
    z-index: 100000000;

    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;

  }

  .div-bouton-nav-téléphone {

    display: none;

  }

  .conteneur {
    width: 100% - 200px;
    margin-left: 200px;
    align-items: center;
    background-color: #fbfbfb;
    display: block;

  }

  .logo-header {

    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
    width: 425px;

  }

  #logo-header-podcast {

    transform: translate(-7px, 0px);

  }

  .div-menu {
    width: 200px;
    height: 45px;
    text-align: center; 
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: -20px;
    line-height: 45px;
    text-align: center;

  }

  .div-menu:hover {
    background-color: #0000003d;

  }

  .fleche-menu {

    position: absolute;
    transform: translate(23px, -19px);
    color: #fbfbfb;

  }

  a {
    text-decoration: none;
    color:  #fbfbfb;

  }

  .div-émission-background {

    background-color: black;
    height: 163px;
    width: 503px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    padding-bottom: 3px;
    margin-top: 20px;
    margin-bottom: 30px ;

  }

  .div-émission-background:hover {

    background-image: url("Images/Arrière-plan.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 163px;
    width: 503px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    padding-bottom: 3px;
    margin-top: 20px;
    margin-bottom: 30px ;

  }

  .div-émission {

    background-color: #fbfbfb;
    height: 160px;
    width: 500px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 1.5px;
    display: block;

  }

  .div-audio {

    display: flex;

  }

  .audio {

    margin: 0 auto;

  }

  .infos-émission {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-left: 10px;
    width: auto;
    margin-bottom: 30px;

  }

  .date-émission {

    margin-top: -18px;
    color: #595959;

  }

  .programme {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-left: 10px;
  
   }
  
   .programme:hover {
  
    cursor: pointer;
  
   }
  
   .div-programme-background {
  
      background-image: url("Images/Arrière-plan.svg");
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      height: auto;
      width: 503px;
      margin: 0 auto;
      border-radius: 10px;
      display: flex;
      padding: 2px;
      padding-bottom: 4px;
      margin-top: 20px;
      margin-bottom: 30px ;
  
    }
  
    .div-programme-ensemble {
      background-color:  #fbfbfb;
      height: auto;
      width: 500px;
      border-radius: 8px;
      margin: 0 auto;
      margin-top: 1.5px;
      display: flex;
    
    }
  
    .fermer {
  
      display: flex;
      margin-top: 10px;
      margin-left: 140px;
      height: 50px;
      width: auto;
      
    }
  
    .fermer:hover {
  
      cursor: pointer;
  
    }
  
    .infos {
  
      display: flex;
      margin-top: -85px;
      margin-left: 440px;
      height: 50px;
      width: auto;
      
    }
  
    .infos:hover {
  
      cursor: pointer;
  
    }










 #Curseur {

    top: 200px;
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0px);
    height: 80px;
    width: 40px;
    background-image: url('Images/Curseur.svg');
    background-attachment: fixed;
    background-size: contain;

 }

 #Curseur:hover {

    cursor: grab;

 }

 #Slider {

    position: absolute;
    top: 225px;
    left: 50%;
    z-index: 1;
    height: 250px;
    transform: translate(-50%, 0px);
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    pointer-events: none;
  

 }

 #Niveau-sonore {

    display: flex;
    margin-top: 100px;

 }

 #Volume-icone {

  position: absolute;
  top: 490px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0px);

 }










 .div-accueil-background {
  
  background-image: url("Images/Arrière-plan.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  width: 703px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  padding: 2px;
  padding-bottom: 4px;
  margin-top: 20px;
  margin-bottom: 30px ;

}

.div-accueil {
  background-color:  #fbfbfb;
  height: auto;
  width: 700px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 1.5px;
  display: block;

}

.titre-accueil {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  margin-left: 10px;
  width: auto;

}

.contenu-accueil {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  margin-bottom: 30px;
  margin-top: -10px;
  text-align: justify;

}

.underlined {

  color: black;
  text-decoration: underline;

}

.underlined:hover {

  cursor: text;

}

.div-images-accueil-ensemble {

  display: flex;
  margin: 0 auto;
  align-items: center;

}

.div-images-accueil {

  margin: 0 auto;

}

.images-accueil {

  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: 10px;

}






.div-bouton-podcast-background {

  background-color: black;
  height: fit-content + 4px;
  width: 366px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2.5px;
  padding-bottom: 3px;
  padding-top: 2px;
  margin-top: 20px;
  margin-bottom: 30px ;
  display: block;

}

.div-bouton-podcast-background:hover {

  background-image: url("Images/Arrière-plan.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: fit-content + 4px;
  width: 366px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2.5px;
  padding-bottom: 3px;
  padding-top: 2px;
  margin-top: 20px;
  margin-bottom: 30px ;
  cursor: pointer;

}

.div-bouton-podcast {

  background-color: #fbfbfb;
  height: fit-content;
  width: 360px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 1.5px;
  display: flex;
  padding: 2px;;

}

.texte-bouton-podcast {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  margin: 5px auto;
  margin-top: 10px;
  display: block;
  
}

.div-ligne {

  display: flex;
  padding-left: 60px;
  padding-right: 60px;

}

.div-contenu-bouton-podcast {

  display: flex;
  margin-left: 10px;
  justify-content: center;

}

.image-bouton-podcast {

  margin-right: 10px;

}

.div-audio-podcasts {

  display: flex;
  margin-top: -15px;

}
























@media (max-width: 480px) {

  body {

    align-items: center;
    justify-content: center;
    zoom: 1;

  }

  .conteneur {

    display: block;
    margin-left: 5px;
    width: 100%;
    align-items: center;
    padding-left: -5px;

  }

  .div-nav {

    display: none;

  }

  .div-bouton-nav-téléphone {

    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 55px;
    width: 55px;
    background-color: greenyellow;

  }

  .logo-header {

    width: 230px;

  }

  .div-émission-background {

    background-color: black;
    height: 163px;
    width: 343px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    padding-bottom: 3px;
    margin-top: 20px;
    margin-bottom: 30px ;

  }

  .div-émission-background:hover {

    background-image: url("Images/Arrière-plan.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 163px;
    width: 343px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    padding-bottom: 3px;
    margin-top: 20px;
    margin-bottom: 30px;

  }

  .div-émission {

    background-color: #fbfbfb;
    height: 160px;
    width: 340px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 1.5px;
    display: block;
    padding-top: -10px;

  }

  .infos {

    margin-left: 285px;

  }

  .div-programme-background {
  
    height: auto;
    width: 343px;

  }

  .div-programme-ensemble {

    width: 340px;

  
  }

  .fermer {

    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    height: 50px;
    width: auto;
    
  }


}